.job_box {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(31, 56, 88, 0.08);
  border-radius: 3px;
  float: left;
  overflow: hidden;
  position: relative;

  .title {
    height: 49px;
    border-bottom: 1px solid rgba(31, 56, 88, 0.06);
    line-height: 49px;
    padding: 0 14px;
    /* opacity   : 0.8; */
    background: white;
    font-size: 14px;
    color: #000000;
    position: relative;
    z-index: 2;

    .job-more {
      float: right;
      font-size: 14px;
      color: rgba(31, 56, 88, 0.60);
      cursor: pointer;
      text-decoration: none;

    }
  }

  .content {
    overflow: hidden;
    padding: 0 14px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.6);

    .item {
      display: flex;

      .item1 {
        flex: 4;
        color: #3c99d8;
        cursor: pointer;
      }

      .item2 {
        flex: 1;
      }

      .item3 {
        flex: 1;
        text-align: right;
      }
    }
  }

}
