@bgc: #2c2f33;

.head {
  height: 52px;
  background-color: @bgc;
  overflow: hidden;

  .container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    font-family: PingFangSC-Regular;

    .head-menu {
      width: 100%;

      .logo {
        display: inline-block;
        width: 125px;
      }

      .line {
        display: inline-block;
        color: white;
        font-style: normal;
        font-size: 20px;
        line-height: 52px;
        margin: 0 10px;
        opacity: 0.8;
      }

      .text {
        color: white;
        font-style: normal;
        font-size: 14px;
        opacity: 0.8;
      }

      .header_items {
        text-align: right;
      }

      .header_item {
        font-size: 14px;
        color: #fff;
        opacity: 0.8;
        line-height: 52px;
        padding: 10px 15px;
        margin-left: 4px;
        cursor: pointer;

        &.active,
        &:hover {
          color: #F37327
        }

      }

      .login_box {
        text-align: right;
      }

      .welcome {
        font-size: 12px;
        color: #fff;
        opacity: 0.8;
      }

      .login_line {
        color: #fff;
        opacity: 0.8;
      }

      .login,
      .register {
        color: #fff;
        opacity: 0.8;
        // font-style: 12px;
      }
    }
  }
}


