@bgc: #2c2f33;

.head {
  height: 52px;
  background-color: @bgc;
  overflow: hidden;

  .container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    font-family: PingFangSC-Regular;

    .head-menu {
      width: 100%;


    }
  }
}
